body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#header {
  padding: 40px;
  background-color: black;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

#page-content {
  display: flex;
  flex-direction: row;
  flex-grow: 9999;
}

.city-name {
  text-transform: capitalize;
}

#sidebar {
  background-color: lightgray;
  padding: 20px;
}

#main-content {
  flex-grow: 9999;
  padding: 20px;
}

#current-condition {
  border: solid thin lightgray;
  border-radius: 6px;
  padding: 20px;
}

#current-condition h1 {
  margin-top: 0;
}

#current-condition div:not(:last-child) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-forcast div:not(:last-child) {
  margin-top: 20px;
  margin-bottom: 20px;
}
#forcast-to-be-cloned {
  display: none;
}
#forcast-container {
  display: flex;
  flex-direction: row;
}

.weather-forcast {
  padding: 20px;
  margin-right: 10px;
  background-color: lightskyblue;
  border-radius: 6px;
}
